In [1]:
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.21.0

In [4]:
def create_table():
    conn=sqlite3.connect("seo.db")
    cursor=conn.cursor()
    cursor.execute("""
    create table if not exists books(title text,published_date text,
    publisher text,
    pages integer
    recommend integer)
    """)
    conn.commit()
    conn.close()
create_table()

In [18]:
def insert_table():
    conn=sqlite3.connect("seo.db")
    cursor=conn.cursor()
    #cursor.execute("insert into books values('java','2018',100,50)")
    sql="insert into books values(?,?,?,?)"
    cursor.execute(sql,('python','2018',100,100))
    conn.commit()
    conn.close()
insert_table()

In [19]:
def all_books():
    conn=sqlite3.connect("seo.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    books=cursor.fetchall()
    print(type(books))
    print(len(books))
    for book in books:
        print(book)
    conn.close()
all_books()

<class 'list'>
3
('java', '2018', '100', 50)
('python', '2018', '100', 100)
('python', '2018', '100', 100)

In [24]:
def some_book(number):
    conn=sqlite3.connect("seo.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    #books=cursor.fetchmany(number)
    book=cursor.fetchone()
    print(book)
    print(type(book))
    #for book in books:
     #   print(book)
    conn.close()
some_book(2)

('java', '2018', '100', 50)
<class 'tuple'>

In [28]:
def update_book():
    conn=sqlite3.connect("seo.db")
    cursor=conn.cursor()
    sql='update books set pages=? where title=?'
    cursor.execute(sql,(300,"python"))
    conn.commit()
    conn.close()
update_book()
some_book(3)

('java', '2018', '100', 200)
<class 'tuple'>